.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.cloud {
    position: absolute;
    width: 18vw;
    height: 18vw;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveClouds 25s infinite linear;
}



.cloud:nth-child(1) { left: 2%;   top: -5%;   background-image: url('../images/cloud1.png'); }
.cloud:nth-child(2) { left: 80%;  top: -4%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(3) { left: 30%;  top: 5%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(4) { left: 60%;  top: 7%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(5) { left: 7%;  top: 25%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(6) { left: 75%;  top: 30%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(7) { left: 12%;  top: 45%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(8) { left: 60%;  top: 47%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(9) { top: 61%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(10){ left: 80%;  top: 63%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(11) { left: 40%;   top: 65%;   background-image: url('../images/cloud1.png'); }

@keyframes levitate1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes levitate2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes levitate3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}


.cloud:nth-child(1) {
    animation: moveClouds 25s infinite linear, levitate1 5s infinite ease-in-out;
}
.cloud:nth-child(2) {
    animation: moveClouds 25s infinite linear, levitate2 4s infinite ease-in-out;
}
.cloud:nth-child(3) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(4) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(5) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(6) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(7) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(8) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(9) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(10) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(11) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}

/* Show and position the new clouds when the viewport width is 1165px or narrower */
/* Initially hide the new clouds */
.cloud:nth-child(12),
.cloud:nth-child(13),
.cloud:nth-child(14) {
    display: none;
}

/* Adjust cloud size and position for screens 1165px or narrower */
@media screen and (max-width: 775px) {
    /* Adjusting size for all clouds */
    .cloud {
        width: 25vw;
        height: 25vw;
    }

    .cloud:nth-child(12) {
        display: block;
        left: 5%;
        bottom: 10vh;
        background-image: url('../images/cloud1.png');
        animation: moveClouds 25s infinite linear, levitate1 5s infinite ease-in-out;
    }

    .cloud:nth-child(13) {
        display: block;
        left: 50%;
        bottom: 8vh;
        background-image: url('../images/cloud2.png');
        animation: moveClouds 25s infinite linear, levitate2 4s infinite ease-in-out;
    }

    .cloud:nth-child(14) {
        display: block;
        left: 80%;
        bottom: 5vh;
        background-image: url('../images/cloud3.png');
        animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
    }
}


