@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LomoCopyLTStd-Mezzo';
    src: url("../fonts/LomoCopyLTStd-Mezzo.ttf") format('truetype');

}

body.game-body {
    background-color:#3983e4;
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* so its above the clouds */
}

#gameTable {
    width: 50%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative; 
    z-index: 2;
}

#gameTable h1 {
    text-align: center;
    margin-top: 20px;
    color: #140024;
    font-family: Joystix Monospace, serif;
}