@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #3983e4;
    overflow: hidden;
}

/* fade out / transition to the next page */
body.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 2;
}

.logo img {
    width: 70vh;
    max-width: 100%;
}

.prompt {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink-text {
    color: #f6ff00;
    font-size: 3rem;
    font-family: Joystix Monospace;
    padding-bottom: 5%;
    text-shadow: 0 0 5px #000; 
    animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.logo, .prompt {
    z-index: 2;
    position: relative;
}


