/* Font Face declarations */
@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

/* Basic styles */
body, html {
    height: 100%;
    margin: 0;
    background-color: #3983e4;
    overflow: hidden;
}

/* Transition for fade-out */
body.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

/* Main Container */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 2;
}

/* Logo Styling */
.logo {
    z-index: 2;
    position: relative;
}

.logo img {
    width: 70vh;
    max-width: 100%;
}

/* Blink Text Styling */
.blink-text {
    color: #f6ff00;
    font-size: 3rem;
    font-family: Joystix Monospace, serif;
    padding-bottom: 5%;
    text-shadow: 0 0 5px #000;
    animation: blink-animation 1s infinite alternate;
    z-index: 2;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

/* Keyframe for Blink Text Animation */
@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Mobile Responsiveness */
@media screen and (max-width: 1000px) {
    .blink-text {
        font-size: 4vw;
    }
}






