@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3983e4;
    overflow: hidden;
}

/* fade out / transition to the next page */
body.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 2;
}

.logo img {
    width: 70vh;
    max-width: 100%;
}

.prompt {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink-text {
    color: #f6ff00;
    font-size: 3rem;
    font-family: Joystix Monospace;
    padding-bottom: 5%;
    text-shadow: 0 0 5px #000; 
    animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.logo, .prompt {
    z-index: 2;
    position: relative;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.cloud {
    position: absolute;
    width: 333px;
    height: 333px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveClouds 25s infinite linear;
}

.cloud:nth-child(1) { left: 2%;   top: -5%;   background-image: url('../images/cloud1.png'); }
.cloud:nth-child(2) { left: 80%;  top: -4%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(3) { left: 30%;  top: 5%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(4) { left: 60%;  top: 7%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(5) { left: 7%;  top: 25%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(6) { left: 75%;  top: 30%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(7) { left: 12%;  top: 45%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(8) { left: 60%;  top: 47%;  background-image: url('../images/cloud2.png'); }
.cloud:nth-child(9) { left: 0%;  top: 61%;  background-image: url('../images/cloud3.png'); }
.cloud:nth-child(10){ left: 80%;  top: 63%;  background-image: url('../images/cloud1.png'); }
.cloud:nth-child(11) { left: 40%;   top: 65%;   background-image: url('../images/cloud1.png'); }

@keyframes levitate1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes levitate2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes levitate3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.cloud:nth-child(1) {
    animation: moveClouds 25s infinite linear, levitate1 5s infinite ease-in-out;
}
.cloud:nth-child(2) {
    animation: moveClouds 25s infinite linear, levitate2 4s infinite ease-in-out;
}
.cloud:nth-child(3) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(4) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(5) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(6) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(7) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(8) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(9) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(10) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}
.cloud:nth-child(11) {
    animation: moveClouds 25s infinite linear, levitate3 6s infinite ease-in-out;
}

.login-body {
    font-family: Arial, sans-serif;
    background-color: #3983e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* game title styles */
.login-body .game-title {
    position: absolute;
    top: 10%;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2), -3px -3px 0 rgba(0,0,0,0.2), 3px -3px 0 rgba(0,0,0,0.2), -3px 3px 0 rgba(0,0,0,0.2);
    font-family: StgoticW00-Regular;
    font-size: 3.2rem;
    z-index: 3;
    color: #F6FF00;
}

/* container for login inputs and buttons */
.login-body .login-container {
    width: 555px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
}

.login-body .input-group {
    position: relative;
    height: 45px;
    margin-bottom: 15px;
}

/* input field styles */
.login-body .input-field {
    width: 100%;
    height: 100%;
    padding: 10px 50px 10px 30px;
    border: 3px solid #140024;
    box-sizing: border-box;
    background-color: #140024;
    color: #F6FF00;
    font-size: 30px;
    /* line-height: 35px;   */
    font-family: Joystix Monospace;
}


/* Focus styles for input fields */
.login-body .input-field:focus {
    border: 3px solid #140024;  
}


/* should be a better way to do this will check it otu */
.login-body .input-field[type="password"] {
    padding-top: 4px; 
    padding-bottom: 8px; 
}


/* Placeholder styles when the input field is not focused */
.login-body .placeholder {
    position: absolute;
    top: 48%;
    left: 30px;
    transform: translateY(-50%);
    color: #F6FF00;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: Joystix Monospace;
    font-size: 30px;
    line-height: 1;
}

/* Hide the placeholder when input is focused or has content */
.login-body .input-field:focus + .placeholder,
.login-body .input-field:valid:not(:focus) + .placeholder {
    display: none;
}

/* Styles for the button group */
.login-body .button-group {
    text-align: center; /* Center align the buttons */
}

/* Toggle styles */
.toggle {
    width: auto;  /* Allow the width to adjust to content */
    padding: 12px 20px;  /* Consistent padding for touchable area */
    background-color: #092855;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Joystix Monospace;
    text-align: center;
    
    border: 2px solid #092855;  /* Border to emphasize the toggle aspect */
    border-radius: 6px;  /* Rounded border to match your button style */
    display: inline-block;
    font-weight: 600;  /* Slightly bolder for emphasis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}

/* Hover effects for toggle */
.toggle:hover {
    background-color: yellow;
    color: darkblue;
    border-color: yellow;  /* Update the border-color on hover to match the button's hover effect */
}



/* Button styles */
.login-body .login-btn, 
.login-body .signup-btn {
    width: 48%;
    height: 45px;
    background-color: #092855;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Joystix Monospace;
}

.login-body .toggle-password {
    display: none;
}

/* hover effects for buttons */
.login-body .login-btn:hover, 
.login-body .signup-btn:hover {
    background-color: yellow;
    color: darkblue;
}

/* styles for the password toggle icon */
.login-body .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #F6FF00;
    z-index: 8;
}

.login-body .toggle-password.active {
    color: white;
}
