@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('truetype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LomoCopyLTStd-Mezzo';
    src: url("../fonts/LomoCopyLTStd-Mezzo.ttf") format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main screen */
body {
    background-color: #3983e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* castle conquerors game title styling */
.game-title {
    position: absolute;
    top: 10%;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2), -3px -3px 0 rgba(0,0,0,0.2), 3px -3px 0 rgba(0,0,0,0.2), -3px 3px 0 rgba(0,0,0,0.2);
    font-family: StgoticW00-Regular, serif;
    font-size: 3vw;
    z-index: 3;
    color: #F6FF00;
}

/* container for login inputs and buttons */
.login-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
}

.input-group {
    position: relative;
    height: 45px;
    margin-bottom: 15px;
}

/* input field styles */
.input-field {
    width: 100%;
    height: 100%;
    padding: 0.625rem 3.125rem 0.625rem 1.875rem;
    border: 3px solid #140024;
    box-sizing: border-box;
    background-color: #140024;
    color: #F6FF00;
    font-size: 2vw;
    font-family: LomoCopyLTStd-Mezzo, serif;
}


/* Focus styles for input fields */
.input-field:focus {
    border: 3px solid #140024;  
}


/* should be a better way to do this will check it out later */
/* basically the placeholder looks fine, but the dots of the password dont look centered at all without this */
.input-field[type="password"] {
    padding-top: 4px; 
    padding-bottom: 8px; 
}


/* placeholder styles when the input field is not focused */
.placeholder {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: #F6FF00;
    pointer-events: none;
    font-family: Joystix Monospace, serif;
    font-size: 1.5vw;
    line-height: 1;
}

/* Hide the placeholder when input is focused or has content */
.input-field:focus + .placeholder,
.input-field:valid:not(:focus) + .placeholder {
    display: none;
}

/* Styles for the button group */
.button-group {
    text-align: center; /* Center align the buttons */
}



/* Styles for the button group */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

/* Button styles */
.login-btn, .toggle, .signup-btn  {
    display: inline-block;
    width: calc(50% - 5px);
    height: 45px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Joystix Monospace, serif;
}

.login-btn, .signup-btn {
    background-color: green;
}

.toggle {
    background-color: #092855;
}



/* Hover effects for buttons */
.toggle:hover {
    background-color: yellow;
    color: darkblue;
}

.login-btn:hover, .signup-btn:hover {
    background-color: darkgreen;
    color: white;
}



@media (max-width: 768px) {
    .login-container {
        width: 80vw;
    }

    .game-title {
        font-size: 2.5rem;
    }
}

.client-error-message {
    width: 100%;
    height: 100%;
    /*!*padding: 0.625rem;*! with padding the box doesnt disappear*/
    box-sizing: border-box;
    background-color: red;
    color: white;
    font-size: 1vw;
    font-family: Joystix Monospace, serif;
    display: none; /* Hide by default */
    overflow: hidden;
    animation: slideIn 0.3s forwards, shake 2s; /* slide-in  */
}

.server-error-message {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: red;
    color: white;
    font-size: 1vw;
    font-family: Joystix Monospace, serif;
    overflow: hidden;
    animation: slideIn 0.3s forwards, shake 2s; /* slide-in  */
}

/* Slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Shake animation */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}



