@font-face {
    font-family: 'Joystix Monospace';
    src: url('../fonts/joystix_monospace.otf') format('truetype');
}

@font-face {
    font-family: 'StgoticW00-Regular';
    src: url('../fonts/Stgotic_W00_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LomoCopyLTStd-Mezzo';
    src: url("../fonts/LomoCopyLTStd-Mezzo.ttf") format('truetype');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main screen */
body {
    background-color: #3983e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* castle conquerors game title styling */
.game-title {
    position: absolute;
    top: 10%;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2), -3px -3px 0 rgba(0,0,0,0.2), 3px -3px 0 rgba(0,0,0,0.2), -3px 3px 0 rgba(0,0,0,0.2);
    font-family: StgoticW00-Regular, serif;
    font-size: 3vw;
    z-index: 3;
    color: #F6FF00;
}

/* container for login inputs and buttons */
.login-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
}

.input-group {
    position: relative;
    height: 45px;
    margin-bottom: 8px;
    margin-top: 8px;
}

/* input field styles */
.input-field {
    width: 100%;
    height: 100%;
    padding: 0.625rem 3.125rem 0.625rem 1.875rem;
    border: 3px solid #140024;
    box-sizing: border-box;
    background-color: #140024;
    color: #F6FF00;
    font-size: 2vw;
    font-family: LomoCopyLTStd-Mezzo, serif;
}


/* Focus styles for input fields */
.input-field:focus {
    border: 3px solid #140024;
}


/* should be a better way to do this will check it out later */
/* basically the placeholder looks fine, but the dots of the password dont look centered at all without this */
.input-field[type="password"] {
    padding-top: 4px;
    padding-bottom: 8px;
}


/* placeholder styles when the input field is not focused */
.placeholder {
    position: absolute;
    top: 50%;
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust both horizontally and vertically */
    transition: all 0.3s ease;
    color: #F6FF00;
    pointer-events: none;
    font-family: Joystix Monospace, serif;
    font-size: 1.5vw;
    text-align: center;
    line-height: 1
}

/* Hide the placeholder when input is focused or has content */
.input-field:focus + .placeholder,
.input-field:valid:not(:focus) + .placeholder {
    display: none;
}

/* Styles for the button group */
.button-group {
    text-align: center; /* Center align the buttons */
}



/* Styles for the button group */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

/* Button styles */
.login-btn, .signup-btn {
    display: inline-block;
    width: 45vw;
    height: 45px;
    background-color: #092855;
    color: lightgray;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Joystix Monospace, serif;

}

/* Hover effects for buttons */
.login-btn:hover, .signup-btn:hover, .toggle:hover {
    background-color: yellow;
    color: darkblue;
}


@media (max-width: 768px) {
    .login-container {
        width: 80vw;
    }

    .game-title {
        font-size: 2.5rem;
    }
}

.input-button-group {
    display: flex;
    width: fit-content; /* This will make the width fit its content */
    gap: 1rem;  /* Reduced gap between the input and the button */
    align-items: center;
    padding: 0.5rem;  /* Reduced padding around the contents */
    border: 1px solid rgba(0, 0, 0, 0.2); /* A semi-transparent border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A gentler box shadow */
    border-radius: 5px;  /* Slightly rounded corners */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
}


.input-field {
    font-size: 1.5vw;
    text-align: center;
}


.input-group {
    flex: 3;            /* Takes 60% of the available width */
    width: 100%;
}

.login-btn {
    flex: 7;            /* Takes 40% of the available width */
    width: 100%;        /* Button will take up the entire available space, so it's responsive */
}

.sign-out-btn {
    background-color: darkred;
}

.sign-out-btn:hover {
    background-color: white;
    color: darkblue;
}

#welcomeMessage {
    position: absolute;
    top: 26%;  /* Adjust as needed to position it under the game title */
    font-family: Joystix Monospace, serif;
    font-size: 2vw;
    color: #f6ff00;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1), -2px -2px 0 rgba(0,0,0,0.1), 2px -2px 0 rgba(0,0,0,0.1), -2px 2px 0 rgba(0,0,0,0.1);
    z-index: 3;
    text-align: center;  /* center align the text */

}

@media (max-width: 768px) {
    .game-title {
        font-size: 2.5rem;
    }

    #welcomeMessage {
        font-size: 1.5rem;
        top: 22%;  /* Adjust accordingly */
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;

    /* To keep pixel art crisp */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.content-body {
    flex-grow: 1;    /* Make it grow and occupy all available space */
    overflow: auto;  /* If the content gets too long, scroll within this container */
}


.modal-content {
    text-align: center;
    background: #092855;
    padding: 20px;
    width: 60%;
    height: 75%;
    border-radius: 15px;
    overflow: auto;
    display: flex;           /* Add flex display */
    flex-direction: column;  /* Stack children vertically */
    justify-content: space-between; /* Separate content-body and the button */
}


.game-rules {
    font-family: Joystix Monospace, serif;
    color: #F6FF00;
}

.game-rules h1 {
    font-size: 2.5rem; /* Increase the size of the h1 heading */
    margin-bottom: 1.5rem; /* Increase the space below the heading for better visual separation */
}

.rule-description p {
    margin-bottom: 1.5rem; /* Increase space between the paragraphs */
    font-size: 1.3rem; /* Make the general content text a bit larger */
}

.game-mechanics-btn {
    display: block;
    width: 100%;
    height: 45px;
    background-color: #140024;
    color: lightgray;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Joystix Monospace, serif;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: auto;  /* This is important. It will push the button to the bottom */
}


.game-mechanics-btn:hover {
    background-color: #f6ff00;
    color: #140024;
}



.mechanic-title {
    font-family: Joystix Monospace, serif;
    color: #F6FF00;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.map-node-container {
    display: flex;
    align-items: start;
    margin: 0.5rem 0;
    background-color: #3983e4;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 15px;
}

.map-node-icon {
    width: 15%;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3983e4;
    border-radius: 15px;
    aspect-ratio: 1;
    margin-right: 1rem;
}

.map-node-properties, .map-node-descriptions {
    height: 100%;
}

.map-node-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 20%;
}

.property-title, .property-desc {
    padding: 0.2rem 0.5rem;
    font-family: Joystix Monospace, serif;
    color: #f4f4f4;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;  /* Adjusted to half the parent's height */
}

.map-node-descriptions {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.property {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.33%;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.3s ease;
}







