<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castle Conquerors</title>
    <link rel="stylesheet" href="../static/styles/clouds.css">
    <link rel="stylesheet" href="../static/styles/game.css">
</head>

<body class="game-body">
    <div id="gameTable">
        <h1>test est</h1>
    </div>
    

    <div class="clouds">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>


</body>

</html>