<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏰 Castle Conquerors</title>
<!--    <link rel="stylesheet" href="../static/styles/homePage.css">-->
<!--    <link rel="stylesheet" href="../static/styles/clouds.css">-->
    <link rel="stylesheet" href="styles/homePage.css">
    <link rel="stylesheet" href="styles/clouds.css">
</head>

<body>
<div class="container">

    <!--Clouds-->
    <div class="clouds">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>

<!--Logo and text-->
    <div class="logo"><img src="images/castleconq_nobg.png" alt="Logo"></div>
<!--    <div class="logo"><img src="../static/images/castleconq_nobg.png" alt="Logo"></div>-->
    <span class="blink-text">PRESS ANYWHERE TO CONTINUE</span>
</div>

    <script>
        document.body.addEventListener('click', function() {
        window.location.href = "login";
        });
    </script>

</body>
</html>