<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏰 Castle Conquerors</title>

    <link rel="stylesheet" href="../static/styles/mapExample.css">
    <link rel="stylesheet" th:href="@{~/styles/mapExample.css}">

    <style>
        table {
            margin: auto;
            border-collapse: collapse;
        }

        td {
		    width: 50px;
		    height: 50px;
		    text-align: center;
		    vertical-align: middle;
		    border-top: 1px solid #ccc;
		    border-bottom: 1px solid #ccc;
		    border-left: 1px solid #ccc;
		    border-right: 1px solid #ccc;
		    position: relative;
		}
        
        /* For horizontal red line */
		.red-line td {
		    border-top: 2px solid red;
		}
		
		/* For vertical red line */
		td.red-line {
		    border-left: 2px solid red;
		}

       	#Grass {
		    background-image: url('../images/grass.png');
		    background-size: cover;  /* the image covers the whole cell */
		}
		
		#Mountain {
		    background-image: url('../images/mountain.JPG');
		    background-size: cover;
		}
		
		#Water {
		    background-image: url('../images/water.JPG');
		    background-size: cover;
		}
		
		.player-icon {
		    position: absolute;
		    width: 40px;
		    height: 40px;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    z-index: 2;
		}
		
		.my-player {
		    background-image: url('../images/myPlayer.png');
		}
		
		.enemy-player {
		    background-image: url('../images/enemyPlayer.png');
		}
		
		.both-players {
		    background-image: url('../images/bothPlayers.png');
		}

    </style>
</head>
<body>

<div class="clouds">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
</div>

    <h4><span th:text="'Game ID: ' + ${gameID}">default game ID</span><button id="copyButton"></button></h4>
	<h2 th:text="${playerState.getPlayerUsername()}"></h2>
	<div id="playerStateDiv">
	    <p id="stateMustAct">It's your turn to act.</p>
	    <p id="stateMustWait">Please wait for your opponent.</p>
		<p id="playerTreasureCollected" style="display: none;">You have collected the treasure! 💎</p>
		<p id="playerTreasureNotCollected">You haven't collected the treasure yet.</p>
	    <p id="stateWon">Congratulations, you won!</p>
	    <p id="stateLost">Sorry, you lost. Better luck next time!</p>
	</div>
    <div id="notification" style="display: none;">Game ID copied to clipboard!</div>
    <button id="leaveGameButton">Leave the game</button>
<div id="leaveGamePopup" style="display: none;">
    <h1>Are you sure you want to leave the game?</h1>
    <h2>This will automatically count as a loss.</h2>
    <button id="confirmLeave">Yes</button>
    <button id="cancelLeave">No</button>
</div>

</div>



<table>
    <tr th:each="mapRow : ${map}">
        <td th:each="tile : ${mapRow}"
            th:id="${tile.getTerrain().toString()}">
            <div th:if="${tile.getPlayerPositionState() == T(messagesbase.messagesfromserver.EPlayerPositionState).MyPlayerPosition}">🥷</div>
            <div th:if="${tile.getPlayerPositionState() == T(messagesbase.messagesfromserver.EPlayerPositionState).EnemyPlayerPosition}">👤</div>
            <div th:if="${tile.getPlayerPositionState() == T(messagesbase.messagesfromserver.EPlayerPositionState).BothPlayerPosition}">👥</div>
            <div th:if="${tile.getFortState() == T(messagesbase.messagesfromserver.EFortState).MyFortPresent}">🏰</div>
            <div th:if="${tile.getFortState() == T(messagesbase.messagesfromserver.EFortState).EnemyFortPresent}">⛫</div>
            <div th:if="${tile.getTreasureState() == T(messagesbase.messagesfromserver.ETreasureState).MyTreasureIsPresent}">💰</div>
        </td>
    </tr>
</table>

	<h2 id="opponentUsername" style="display: none;"></h2>
	<div id="opponentStateDiv">
		<p id="opponentTreasureCollected" style="display: none;">Enemy has collected the treasure 💀</p>
		<p id="opponentTreasureNotCollected">Enemy hasn't found the treasure.</p>
	</div>

<div id="buttonDiv" style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
    <button id="upButton" data-move="Up">Up</button>
    
    <div style="display: flex; justify-content: space-between; width: 150px;">
        <button id="leftButton" data-move="Left">Left</button>
        <button id="rightButton" data-move="Right">Right</button>
    </div>

    <button id="downButton" data-move="Down">Down</button>
</div>

<div id="errorMessage" style="color: red; display: none;">Sample error message</div>

<script>
	const gameID = "[[${gameID}]]";

    let playerTreasureFound = false;
	let opponentTreasureFound = false;
	
	function addRedLine() {
	    const rows = document.querySelectorAll('table tr');
	    if (!rows.length) {
	        console.log("No rows found.");
	        return;
	    }
	
	    const columns = rows[0].querySelectorAll('td').length;
	
	    if (rows.length >= columns) {
	        const middleRowIndex = Math.floor(rows.length / 2);
	        rows[middleRowIndex].classList.add('red-line');
	    } else {
	        console.log("Adding vertical red line.");
	        rows.forEach(row => {
	            const cells = row.querySelectorAll('td');
	            const middleColumnIndex = Math.floor(columns / 2);
	            cells[middleColumnIndex].classList.add('red-line');
	        });
	    }
	}

	let playerCanMakeMove = false;
	let playerTreasureRevealed = false;
	let playerTreasureCollected = false;
	let playerHasAlreadyVisitedTreasure = false;
	let playerEnemyFortRevealed = false;

    function updateGameData() {	    
	    if (!gameID) {
	        console.error("Game ID not found");
	        return;
	    }
	    
	    // Fetch player data
	    fetch(`/game/${gameID}/playerdata`).then(response => {
			return response.json();
	    }).then(data => {
			if (data.revealedTreasure) {
	            playerTreasureRevealed = true;
	        }
	        
	        if (data.collectedTreasure) {
	            playerTreasureCollected = true;
	        }
	        
	        if (data.revealedEnemyFort) {
	            playerEnemyFortRevealed = true;
	        }

			if(!playerTreasureFound){
				if (data && data.collectedTreasure) {
					document.getElementById('playerTreasureCollected').style.display = 'block';
					document.getElementById('playerTreasureNotCollected').style.display = 'none';

					playerTreasureFound = true;
				}
			}
		    
			const states = ['stateMustAct', 'stateMustWait', 'stateWon', 'stateLost'];
		    states.forEach(stateID => {
		        if (stateID === `state${data.state}`) {
		            document.getElementById(stateID).style.display = 'block';
		        } else {
		            document.getElementById(stateID).style.display = 'none';
		        }
		    });

			// Check if can make to alter buttons
			if("MustAct" == data.state){
				document.getElementById("buttonDiv").style.display = 'flex'
				playerCanMakeMove = true;
			} else {
				document.getElementById("buttonDiv").style.display = 'none'
				playerCanMakeMove = false
			}

	    }).catch(error => {
	        console.error('Player fetch Error:', error);
	    });
	
	    // Fetch map data
	    fetch(`/game/${gameID}/mapdata`).then(response => {
	        return response.json();
	    }).then(data => {
	        const mapTable = document.querySelector('table');
	        // Clear existing map
	        while (mapTable.firstChild) {
	            mapTable.removeChild(mapTable.firstChild);
	        }
	        data.forEach(row => {
		    const tr = document.createElement('tr');
		    row.forEach(tile => {
		        const td = document.createElement('td');
				td.id = tile.terrain;
				
				const playerImg = document.createElement('img');
				playerImg.classList.add('player-icon');
				if (tile.playerPositionState === "MyPlayerPosition") {
				    playerImg.src = '../images/myPlayer.png';
				    td.appendChild(playerImg);
				} else if (tile.playerPositionState === "EnemyPlayerPosition") {
				    playerImg.src = '../images/enemyPlayer.png';
				    td.appendChild(playerImg);
				} else if (tile.playerPositionState === "BothPlayerPosition") {
		            playerImg.src = '../images/bothPlayers.png';
				    td.appendChild(playerImg);
		        }
		
		        if (tile.fortState === "MyFortPresent") {
					if (tile.playerPositionState === "MyPlayerPosition") {
						playerImg.src = '../images/myFortAndMyPlayer.png';
				    	td.appendChild(playerImg);
					} else if (tile.playerPositionState === "EnemyPlayerPosition") {
						playerImg.src = '../images/enemyCapturedMyFort.png';
				    	td.appendChild(playerImg);
					} else { // Both players need to be handled
						playerImg.src = '../images/myFort.png';
				    	td.appendChild(playerImg);
					}
		        } else if (tile.fortState === "EnemyFortPresent") {
					if (tile.playerPositionState === "MyPlayerPosition") {
						playerImg.src = '../images/enemyFortCapturedByMe.png';
				    	td.appendChild(playerImg);
					} else if (playerEnemyFortRevealed) {
						playerImg.src = '../images/enemyFort.png';
				    	td.appendChild(playerImg);
					}
		        }
		
		        if (tile.treasureState === "MyTreasureIsPresent") {
					if (tile.playerPositionState === "NoPlayerPresent") {
						if (!playerTreasureCollected) {
							playerImg.src = '../images/treasureRevealed.png';
				    		td.appendChild(playerImg);
						} else {
							playerImg.src = '../images/treasureCollected.png';
				    		td.appendChild(playerImg);
				    		playerHasAlreadyVisitedTreasure = true;			
				    	}
					} else if (tile.playerPositionState === "MyPlayerPosition") {
						if (!playerHasAlreadyVisitedTreasure) {
							playerImg.src = '../images/treasureFound.png';
				    		td.appendChild(playerImg);
						} else {
							playerImg.src = '../images/playerHasAlreadyVisitedTreasure.png';
				    		td.appendChild(playerImg);
						}
					} else if (tile.playerPositionState === "EnemyPlayerPosition") {
						if (!playerTreasureCollected) {
							playerImg.src = '../images/myTreasureFoundByEnemyBeforeMe.png';
				    		td.appendChild(playerImg);
						} else {
							playerImg.src = '../images/myTreasureFoundByEnemy.png';
				    		td.appendChild(playerImg);
						}
					} else {
						if (!playerHasAlreadyVisitedTreasure) {
							playerImg.src = '../images/bothPlayersOnMyTreasure.png';
				    		td.appendChild(playerImg);
						} else {
							playerImg.src = '../images/bothPlayersIfPlayerHasAlreadyVisitedTreasure.png';
				    		td.appendChild(playerImg);
						}
					}
		        }
		
		        tr.appendChild(td);
		    });
		    mapTable.appendChild(tr);
		});
		addRedLine();
	
	    }).catch(error => {
	        console.error('Map fetch Error:', error);
	    });

		// Fetch opponent data
		if(!opponentTreasureFound){
			fetch(`/game/${gameID}/opponentdata`).then(response => {
				return response.json();
			}).then(data => {
				document.getElementById('opponentUsername').textContent = data.playerUsername;
				document.getElementById('opponentUsername').style.display = 'block';
				if (data && data.collectedTreasure) {
						document.getElementById('opponentTreasureCollected').style.display = 'block';
						document.getElementById('opponentTreasureNotCollected').style.display = 'none';

						opponentTreasureFound = true;
				}
			}).catch(error => {
				if (error instanceof SyntaxError) {
					console.log('No opponent joined');
				} else {
					console.error('Opponent fetch Error:', error);
				}
			});
		}
	
	    // Call the function again after 0.5 seconds
	    setTimeout(updateGameData, 500);
	}
	
	// Start the function
	updateGameData();
	
	document.querySelectorAll("[data-move]").forEach(button => {
	    button.addEventListener("click", function() {
	        const moveDirection = button.getAttribute("data-move");
	        sendMoveRequest(moveDirection);
	    });
	});
	
	function sendMoveRequest(moveDirection) {
	    if (!gameID) {
	        console.error("Game ID not found");
	        return;
	    }
	
	    fetch(`/game/${gameID}/move`, {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/x-www-form-urlencoded',
	        },
	        body: `move=${moveDirection}`
	    })
	    .then(response => response.text())
	    .then(result => {
		    console.log(result);
		
		    if (result !== "Move accepted") {
		        const errorMessageDiv = document.getElementById('errorMessage');
		        errorMessageDiv.textContent = 'An error occurred: ' + result;
		        errorMessageDiv.style.display = 'block';
		    
		        // Hide the error message after 5 seconds
		        setTimeout(() => {
		            errorMessageDiv.style.display = 'none';
		        }, 5000);
		    }
		})
	    .catch(error => {
		    console.error('Error:', error);
		});
	}

    document.getElementById('copyButton').addEventListener('click', function() {
        const gameIdElement = document.querySelector('h4');
        const gameIdValue = gameIdElement.textContent.replace('Game ID: ', '');  // Extract only the Game ID value
        const textarea = document.createElement('textarea');

        // Set the value of the textarea to the extracted Game ID value
        textarea.value = gameIdValue;

        // Append the textarea to the document (offscreen)
        textarea.style.position = 'absolute';
        textarea.style.left = '-9999px';
        document.body.appendChild(textarea);

        // Focus and select the content of the textarea
        textarea.focus();
        textarea.select();

        // Attempt to copy
        try {
            document.execCommand('copy');
            // Show the notification
            const notification = document.getElementById('notification');
            notification.style.display = 'block';
            setTimeout(function() {
                notification.style.display = 'none';
            }, 2000);  // The notification will be hidden after 2 seconds
        } catch (err) {
            alert('Failed to copy GAME ID');
        }

        // Cleanup - remove the textarea from the document
        document.body.removeChild(textarea);
    });

    document.getElementById('leaveGameButton').addEventListener('click', function() {
        const popup = document.getElementById('leaveGamePopup');
        popup.style.display = 'block';
    });

    document.getElementById('confirmLeave').addEventListener('click', function() {
        const popup = document.getElementById('leaveGamePopup');
        popup.style.display = 'none';
        window.location.href = '/menu';
    });


    document.getElementById('cancelLeave').addEventListener('click', function() {
        const popup = document.getElementById('leaveGamePopup');
        popup.style.display = 'none';
    });


</script>
</body>
</html>
