<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="../static/styles/menu.css">
    <link rel="stylesheet" href="../static/styles/clouds.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/clouds.css">
</head>
<body>

<div class="clouds">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
</div>

<h1 class="game-title">Castle Conquerors</h1>

<!--basically here is the text that would be here without the .js -->
<!--but I doubt there's going to be people on this page without logging in-->
<h2 id="welcomeMessage">Are you ready, <span th:text="${loggedInUser}">adventurer</span>?</h2>


<div class="login-container">

    <!-- Create Game Button -->
    <div class="button-group">
        <button class="login-btn" onclick="window.location.href='game'">Create Game</button>
    </div>

    <!-- Connect to Existing Game Section -->
    <div class="input-button-group">
        <div class="input-group">
            <input type="text" name="gameID" id="gameID" class="input-field" required maxlength="5">
            <label for="gameID" class="placeholder">GameID</label>
        </div>
        <button class="login-btn" onclick="connectToGame()">Connect to Existing Game</button>
    </div>

    <!-- Play vs AI Button -->
    <div class="button-group">
        <button class="login-btn" onclick="window.location.href='game/ai/easy'">Play vs. easy AI</button>
    </div>

    <!-- Game Rules Button -->
    <div class="button-group">
        <button class="login-btn" onclick="openModal()">Game rules</button>
    </div>

    <!-- Sign Out Button -->
    <div class="button-group">
        <button class="login-btn sign-out-btn" onclick="signOut()">Sign Out</button>
    </div>


    <!-- Modal for Game Rules -->
    <div id="gameRulesModal" class="modal game-rules" onclick="closeModal()">
        <div class="modal-content">
            <h2>Game Rules</h2>
            <p>
            Come and conquer! Climb tall mountains to get a chance to have a better look on surrounding areas,
            get through high grass in search of a treasure or an enemy's castle and avoid lakes full of piranhas that
                will eat you instantly.
            </p>
            <br>
            <br>

            Find and use your treasure to bribe castle's guards and steal crown of your enemy before they got a chance to
            do it faster than you!
            <br>
            <br>

            <div class="button-group">
                <button class="login-btn" onclick="openGameMechanicsModal()">Game Mechanics</button>
            </div>
        </div>
    </div>

    <!-- Modal for game mechanics -->
    <div id="gameMechanicsModal" class="modal" onclick="closeGameMechanicsModal()">
        <div class="modal-content">
            <h3 style="font-family: Joystix Monospace, serif;
                color: saddlebrown;
                font-size: x-large;">Map tiles:</h3>

            <!--            Container with MapNodes and their details -->
            <div title="map-nodes">
                <!--                    Grassland -->
                <div class="container" style="display: flex; height: auto;">
                    <!--                Div with MapNode texture -->
                    <div class="map-node-icon"
                         style="background-image: url('../images/grass.png');"></div>
                    <!--                Div with MapNode description -->
                    <div class="map-node-details">
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Movement</strong></td>
                                <td>1 move to get in <br>1 move to get out<br></td>
                            </tr>
                            <tr>
                                <td><strong>Visibility</strong></td>
                                <td>While inside, you can see only what is inside this field</td>
                            </tr>
                            <tr>
                                <td><strong>Special</strong></td>
                                <td>
                                    <p>May contain a treasure or a castle
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>

                <!--                    Mountain -->
                <div class="container" style="display: flex; height: auto;">
                    <!--                Div with MapNode texture -->
                    <div class="map-node-icon" style="background-image: url('../images/mountain.JPG');"></div>
                    <!--                Div with MapNode description -->
                    <div class="map-node-details">
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Movement</strong></td>
                                <td>2 moves to get in <br>2 moves to get out<br></td>
                            </tr>
                            <tr>
                                <td><strong>Visibility</strong></td>
                                <td>
                                    <p>You will
                                        see all treasures and enemy's castle (<i>if you already found your treasure</i>)
                                        that are in 3x3 square (<i>your position
                                            is in the centre</i>)</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>

                <!--                    Water -->
                <div class="container" style="display: flex; height: auto;">
                    <!--                Div with MapNode texture -->
                    <div class="map-node-icon" style="background-image: url('../images/water.JPG');"></div>
                    <!--                Div with MapNode description -->
                    <div class="map-node-details">
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Movement</strong></td>
                                <td>1 move to get in<br></td>
                            </tr>
                            <tr>
                                <td><strong>Visibility</strong></td>
                                <td>None</td>
                            </tr>
                            <tr>
                                <td><strong>Special</strong></td>
                                <td>Instant loss</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById('gameRulesModal').style.display = 'flex';
    }
    function closeModal() {
        document.getElementById('gameRulesModal').style.display = 'none';
    }


    function openGameMechanicsModal() {
        document.getElementById('gameMechanicsModal').style.display = 'flex';
    }

    function closeGameMechanicsModal() {
        document.getElementById('gameMechanicsModal').style.display = 'none';
    }

    function connectToGame() {
        const gameID = document.getElementById('gameID').value;
        if(gameID) {
            window.location.href = `/game/${gameID}`;
        } else {
            alert("Please enter a valid Game ID.");
        }
    }

    function signOut() {
		window.location.href = "logout";
    }
</script>

</body>
</html>
